:root {
  --text-primary: #090c08;
  --text-secondary: #333;
  --link-primary: #b9c6ae;
  --link-hover: #8a95a5;
  --bg-primary: #474056;
  --bg-secondary: #3f3e46;
  --head-primary: #9ac577;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  overflow-x: hidden;
  background-image: linear-gradient(rgb(71, 64, 86, 0.2), rgb(27, 29, 29)),
    url("../img/dots-background.jpg");
  background-size: cover;
}

/* ----------------NAV SECTION------------------------------------- */

.logo {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--link-primary);
  background: var(--bg-secondary);

  width: 100%;
}

.logo-link {
  font-size: 2rem;
  letter-spacing: 0.3ch;
  font-weight: bold;
}

.logo-text {
  color: var(--link-primary);
  margin-right: auto;
}

.hide-icon {
  transform: rotate(0deg);
  transition: transform 500ms;
}

.show-icon {
  display: none;
}

.nav-bar:hover .hide-icon {
  transform: rotate(-180deg);
}

.nav-bar {
  width: 7.5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 0.2s ease;
  z-index: 9999;
}

.nav-bar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 8rem;
  color: var(--text-secondary);
  text-decoration: none;
  border: none;
  width: 100%;
  background-color: var(--bg-primary);
}

.nav-text {
  display: none;
  margin-left: 1.6rem;
  font-size: 2rem;
  transition: all 0.3s;
  color: var(--link-primary);
}

.nav-icon {
  height: 3.2rem;
  width: 3.2rem;
  margin: 0 2rem;
  transition: all 0.3s;
  color: var(--link-primary);
}

.nav-bar:hover {
  width: 25rem;
}

.nav-bar:hover .nav-text {
  display: block;
}

.nav-link:hover .nav-icon,
.nav-link:hover .nav-text {
  color: var(--link-hover);
}

.nav-link:hover {
  box-shadow: inset 0 0 0 0.1rem #090c08;
}

/* ----------------HERO SECTION------------------------------------- */

main {
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 180rem;
  height: 100vh;
  padding-top: 5rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: 0.13fr 1.2fr 1fr;
  grid-template-rows: repeat(2 1fr);
  font-size: 2rem;
  height: 75vh;
}

.summary {
  align-self: center;
  grid-column: 2/3;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  background-color: rgba(185, 198, 174, 0.521);
  border-radius: 2rem;
  padding: 10rem 5rem;
  margin-right: 20rem;
}

.main-img {
  display: flex;
  margin: auto;
  position: relative;
}

.main-img img {
  justify-self: center;
  width: 75%;
  filter: grayscale(60%);
  border-radius: 2rem;
}

.main-img::before {
  content: "";
  display: block;
  border-radius: 2rem;
  position: absolute;
  /* top 50%, left 37.5%, width and padding bottom 75% */
  top: 47%;
  left: 34.8%;
  transform: translate(-50%, -50%);
  width: 85%;
  padding-bottom: 85%;
  background-color: rgba(185, 198, 174, 0.219);
  z-index: -2;
}

.main-img::after {
  content: "";
  display: block;
  border-radius: 2rem;
  position: absolute;
  /* top 50%, left 37.5%, width and padding bottom 75% */
  top: 54%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 85%;
  padding-bottom: 85%;
  background-color: rgba(138, 149, 165, 0.308);
  z-index: -1;
}

/* ----------------SLIDE IN SECTION------------------------------------- */

.contact,
.projects,
.education,
.experience,
.downloads,
.about {
  background-color: rgba(185, 198, 174, 0.144);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 997;
}

.con-open .contact,
.pro-open .projects,
.edu-open .education,
.exp-open .experience,
.dow-open .downloads,
.abo-open .about {
  opacity: 1;
  pointer-events: auto;

  visibility: visible;
  transform: translateX(0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1fr);
  width: 120rem;
  background-image: url("../img/codeblur.jpg");
  padding: 15rem 8rem 15rem 12rem;
  margin-left: 10rem;
  border-radius: 2rem;
  position: relative;
}

/* .con-grid::after {
  background-color: rgba(0, 0, 0, 0.92);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  content: "";
  display: block;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-bottom: 51%;
  z-index: 1;
} */

.col {
  display: block;
  font-size: 2rem;
  color: var(--link-hover);
  line-height: 2;
  z-index: 2;
}

.head {
  color: #9ac577;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.con-use,
.use {
  color: var(--link-primary);
  text-decoration: none;
}

.con-use:hover,
.con-use:active,
.use:hover,
.use:active {
  color: #9ac577;
}

/* ----------------ABOUT ME SECTION------------------------------------- */

.abo-line {
  font-size: 1.8rem;
  line-height: 3rem;
}

.abo-subgrid {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  column-gap: 10rem;
}

.abo-list {
  list-style: none;
  line-height: 3.5rem;
}

.abo-list::before {
  content: "";
  display: block;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 20%;
  padding-bottom: 45%;
  background-color: rgba(71, 64, 86, 0.801);
  z-index: -1;
}

/* ----------------EXPERIENCE SECTION------------------------------------- */

.list {
  list-style: none;
  display: inline-block;
  color: var(--link-hover);
  padding: 0;
}

.list:hover {
  color: #9ac577;
}

.exp-head,
.edu-head,
.dow-head {
  display: inline-block;
}

.hide {
  visibility: hidden;
  transition: all 0.1s ease-in;
}

.hover {
  display: inline-block;
  font-weight: 700;
  font-size: 2.8rem;
}

.click {
  display: none;
  font-weight: 700;
  font-size: 2.8rem;
}

.exp-subhead {
  padding: 0;
  font-size: 2.4rem;
}

.exp-subhead2 {
  display: flex;
  padding-top: 0;
  padding-bottom: 1.4rem;
}

.exp-subhead2 div {
  margin-left: auto;
}

/* ---------------------------------------Popups for experience----------- */

.list1 {
  position: relative;
  cursor: pointer;
}

.list1:hover {
  color: #9ac577;
}

.exp-subhead span,
.edu-subhead span {
  display: none;
}

.popuptext {
  visibility: hidden;
  width: 60rem;
  height: 38rem;
  background-color: var(--bg-primary);
  color: var(--link-primary);
  border-radius: 2rem;
  padding: 2rem 4rem;
  position: absolute;
  z-index: 9999;
  bottom: 22%;
  left: 42%;
}

.hovlist {
  font-size: 1.6rem;
  color: var(--link-hover);
  list-style: none;
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  line-height: 2rem;
  margin-bottom: 1rem;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.exp-grid {
  grid-template-columns: 0.62fr 1fr;
}

.arrow {
  margin-left: auto;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  align-self: center;
  visibility: hidden;
}

.list1 {
  display: flex;
}

/* ----------------EDUCATION SECTION------------------------------------- */

.popuptext-edu {
  visibility: hidden;
  width: 62rem;
  height: 16rem;
  background-color: var(--bg-primary);
  color: var(--link-primary);
  border-radius: 2rem;
  padding: 2rem 4rem;
  position: absolute;
  z-index: 9999;
  bottom: 28%;
  left: 46%;
}

.edu-subhead {
  font-size: 2.2rem;
}

.edu-subhead2 {
  display: flex;
  padding-top: 0;
  font-size: 1.5rem;
  padding-bottom: 1.4rem;
}

.edu-subhead2 div {
  margin-left: auto;
}

.edu-grid {
  grid-template-columns: 0.76fr 1fr;
}
/* ----------------PROJECT SECTION------------------------------------- */

.pro-line {
  margin-top: 10rem;
  font-size: 1.4rem;
}

/* ---------------- DOWNLOAD SECTION------------------------------------- */

.dow-list {
  list-style: none;
}

/* ----------------CONTACT SECTION------------------------------------- */

.con-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.con-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* ---------------- SECTION------------------------------------- */

.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
