:root {
  --text-primary: #090c08;
  --text-secondary: #333;
  --link-primary: #b9c6ae;
  --link-hover: #8a95a5;
  --bg-primary: #474056;
  --bg-secondary: #3f3e46;
  --head-primary: #9ac577;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  background-image: linear-gradient(rgb(71, 64, 86, 0.2), rgb(27, 29, 29)),
    url("../img/dots-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/* ----------------NAV SECTION------------------------------------- */

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: var(--bg-primary);
  z-index: 999;
}

.nav-bar-nav {
  display: flex;
  list-style: none;
}

.logo {
  margin-right: auto;
  margin-left: 3rem;
}

.nav-item {
  margin-right: 4rem;
}

.nav-item:last-child {
  align-self: center;
  margin-right: 2rem;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 8rem;
  color: var(--text-secondary);
  text-decoration: none;
  border: none;
  background-color: var(--bg-primary);
  padding: 0 1rem 0 0;
}

.nav-text {
  font-size: 2rem;
  color: var(--link-primary);
}

.logo-text {
  margin-left: 2rem;
  font-size: 2.5rem;
}

.nav-icon {
  height: 3.2rem;
  width: 3.2rem;
  margin: 0 0.8rem;
  transition: all 0.3s;
  color: var(--link-primary);
}

.nav-link:hover {
  box-shadow: inset 0 0 0 0.1rem #090c08;
}

.con-link {
  background-color: rgba(154, 197, 119, 0.705);
  border-radius: 1rem;
  padding: 3.3rem;
  height: 1rem;
}

.con-link:hover,
.con-link:active {
  background-color: rgba(154, 197, 119, 0.966);
}

.con-text,
.con-icon {
  font-weight: 700;
  color: var(--text-primary);
}

/* ----------------HERO SECTION------------------------------------- */

.container {
  margin: 0 auto;
  max-width: 180rem;
  height: 100vh;
  padding-top: 5rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: 0.13fr 1.2fr 1fr;
  grid-template-rows: repeat(2 1fr);
  font-size: 2rem;
  height: 100vh;
}

.summary {
  align-self: center;
  grid-column: 2/3;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  background-color: rgba(185, 198, 174, 0.521);
  border-radius: 2rem;
  padding: 10rem 5rem;
  margin-right: 20rem;
}

.main-img {
  display: flex;
  margin: auto;
  position: relative;
}

.main-img img {
  justify-self: center;
  width: 75%;
  filter: grayscale(60%);
  border-radius: 2rem;
}

.main-img::before {
  content: "";
  display: block;
  border-radius: 2rem;
  position: absolute;
  /* top 50%, left 37.5%, width and padding bottom 75% */
  top: 47%;
  left: 34.8%;
  transform: translate(-50%, -50%);
  width: 85%;
  padding-bottom: 85%;
  background-color: rgba(185, 198, 174, 0.219);
  z-index: -2;
}

.main-img::after {
  content: "";
  display: block;
  border-radius: 2rem;
  position: absolute;
  /* top 50%, left 37.5%, width and padding bottom 75% */
  top: 54%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 85%;
  padding-bottom: 85%;
  background-color: rgba(138, 149, 165, 0.308);
  z-index: -1;
}

/* ----------------REUSE SECTION------------------------------------- */

.grid {
  display: grid;
  width: 120rem;
  background-image: url("../img/codeblur.jpg");
  padding: 15rem 8rem 15rem 12rem;
  border-radius: 2rem;
  position: relative;
}

.col {
  display: block;
  font-size: 2rem;
  color: var(--link-hover);
  line-height: 2;
  z-index: 2;
}

.head {
  color: #9ac577;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

/* ----------------ABOUT SECTION------------------------------------- */

.about,
.experience,
.education,
.projects,
.downloads,
.contact {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.abo-line {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 3rem;
}

.abo-subgrid {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  column-gap: 10rem;
}

.abo-list {
  list-style: none;
  line-height: 3.5rem;
}

.abo-list::before {
  content: "";
  display: block;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 20%;
  padding-bottom: 30%;
  background-color: rgba(71, 64, 86, 0.801);
  z-index: -1;
}

/* ----------------EXPERIENCE SECTION------------------------------------- */

.list {
  list-style: none;
  display: inline-block;
  color: var(--link-hover);
  padding: 0;
}

.list:hover {
  color: #9ac577;
}

.exp-head,
.edu-head,
.dow-head,
.pro-head,
.con-head {
  margin-bottom: 7rem;
  font-size: 3.2rem;
}

.exp-head,
.edu-head,
.dow-head {
  display: inline-block;
}

.hide {
  visibility: hidden;
  transition: all 0.1s ease-in;
}

.hover {
  display: inline-block;
  font-weight: 700;
  font-size: 2.8rem;
}

.exp-imgs {
  display: grid;
  grid-template-columns: 1fr;
}

.thumb {
  filter: brightness(0.4);
  transition: all 0.3s;
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
}

.thumb:hover,
.thumb:active {
  filter: none;
  transform: scale(1.1);
  transition: 0.3;
}

.thumb-cover {
  justify-self: right;
}

.thumb-udemy {
  margin-top: 10rem;
  grid-column: 1 / span 2;
  justify-self: center;
}

.img-use {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 3.2rem;
}

.click {
  display: none;
  font-weight: 700;
  font-size: 2.8rem;
}

.exp-subhead {
  padding: 0;
  font-size: 2.4rem;
}

.exp-subhead2 {
  display: flex;
  padding-top: 0;
  padding-bottom: 1.4rem;
}

.exp-subhead2 div {
  margin-left: auto;
}

.exp-grid {
  padding: 8rem 12rem;
}

/* -------------POPUPS------------------ */

.list1 {
  position: relative;
  cursor: pointer;
}

.list1:hover {
  color: #9ac577;
}

.exp-subhead span,
.edu-subhead span {
  display: none;
}

.popuptext {
  visibility: hidden;
  width: 60rem;
  height: 38rem;
  background-color: var(--bg-primary);
  color: var(--link-primary);
  border-radius: 2rem;
  padding: 2rem 4rem;
  position: absolute;
  z-index: 9999;
  bottom: 22%;
  left: 42%;
}

.hovlist {
  font-size: 1.6rem;
  color: var(--link-hover);
  list-style: none;
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  line-height: 2rem;
  margin-bottom: 1rem;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .exp-grid {
  grid-template-columns: 0.62fr 1fr;
} */

.arrow {
  margin-left: auto;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  align-self: center;
  visibility: hidden;
}

.list1 {
  display: flex;
}

/* ---------------------EDUCATION SECTION--------------- */

.popuptext-edu {
  visibility: hidden;
  width: 62rem;
  height: 16rem;
  background-color: var(--bg-primary);
  color: var(--link-primary);
  border-radius: 2rem;
  padding: 2rem 4rem;
  position: absolute;
  z-index: 9999;
  bottom: 28%;
  left: 46%;
}

.edu-subhead {
  font-size: 2.2rem;
}

.edu-subhead2 {
  display: flex;
  padding-top: 0;
  font-size: 1.5rem;
  padding-bottom: 1.4rem;
}

.edu-subhead2 div {
  margin-left: auto;
}

.edu-grid {
  grid-template-columns: 0.76fr 1fr;
}

/* ------------------PROJECTS SECTION-------------------------- */

.pro-box {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.pro-line {
  margin-top: 10rem;
  font-size: 1.4rem;
}

.pro-use {
  margin-bottom: 8rem;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  justify-self: center;
  width: 80%;
  filter: brightness(0.6);
  transition: all 0.3s;
  border-radius: 2rem;
}

.video:hover,
.video:active {
  filter: none;
  transform: scale(1.1);
}

/* ---------------- DOWNLOAD SECTION------------------------------------- */

.dow-list {
  list-style: none;
}

/* ----------------CONTACT SECTION------------------------------------- */

.con-line {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.con-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.con-use,
.use {
  color: var(--link-primary);
  text-decoration: none;
}

.con-use:hover,
.con-use:active,
.use:hover,
.use:active {
  color: #9ac577;
}

/* --------------------------FOOTER--------------------- */

.footer {
  background-color: rgba(71, 64, 86, 0.582);
  padding: 3rem 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.con-line {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.right {
  justify-self: right;
}

.right .con-use {
  width: 100%;
  text-align: right;
}

.con-line:last-child {
  margin-bottom: 0.5rem;
}

/* ----------------------LAST SECTION--------------------- */

.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
